            <!-- section2 -->
<section class="sect2">
    <div class="content-container">
      <p id="p_texto">¿QUÉ ESPERAS PARA IRTE DE VIAJE?</p>
      <h1>Podemos llevarte a cualquier parte</h1>
    </div>

    <div class="container_sect2">
      <div class="div_img">
        <img src="assets\img\vuelos.png" alt="" id="img_lugares" class="imagen_oscura">
        <p id="p_vuelos">VUELOS</p>
        <img src="assets\img\casa de renta.png" alt="" id="img_lugares">
        <p id="p_casas">CASAS</p>
      </div>
      <div class="div_img">
        <img src="assets\img\Hoteles.png" alt="" id="img_hotel">
        <p id="p_hoteles">HOTELES</p>
      </div>
      <div class="div_img">
        <img src="assets\img\Experiencias.png" alt="" id="img_lugares">
        <p id="p_experiencias">EXPERIENCIAS</p>
        <img src="assets\img\autos de renta.png" alt="" id="img_lugares">
        <p id="p_autos">AUTOS</p>
      </div>
    </div>
  </section>
