         /* section2 */
        

.sect2
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 950px;
}

.content-container
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 975px;
    height: auto;
    margin: 0 auto;
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('/assets/fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

h1
{ 
    color: black;
    font-family: 'Montserrat-Bold';
    font-size: 42px;
    margin: 0;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('/assets/fonts/Montserrat/Montserrat-Light.ttf');
}

.p_texto
{ 
    color: black;
    font-family: 'Montserrat-Light';
    font-size: 20px;
    margin: 0;
}

.container_sect2
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 975px;
    height: auto;
    margin-top: 35px;
}

.div_img
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.img_container
{
   position: relative; 
   width: 225px;
   height: 160px;
}

img
{
    width: 100%;
    height: 100%;
}

#id_hotel_container
{
    width: 475px;
    height: 345px; 
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

.img_text
{
    position: absolute;
    bottom: -18%;
    left: 0%;
    color: white;
    font-family: 'Montserrat-Bold';
    font-size: 23px;
}

#p_hoteles
{
    font-size: 70px;
    bottom: -26%;
    left: -1%;
}