
    <div class="carrusel">
        <div class="title_container">
             <h2>Casas de Renta que Enamoran</h2>
        </div>
        <div class="houses" #carrusel>
            <button (click)="moverCarrusel(-1)">
                <img src="/assets/icons/circle-arrow-left.svg" alt="left">
            </button>
            <div class="house" *ngFor="let house of visibleHouses">
                <app-ofert-card
                [father]="father"
                [img]="house.img"
                [name]="house.name"
                [price]="house.pricePerNight"
                [city]="house.city"
                [stars]="house.stars"
                ></app-ofert-card>
            </div>
            <button (click)="moverCarrusel(1)">
                <img src="/assets/icons/circle-arrow-right.svg" alt="right">
            </button>
        </div>
    </div>


  