
    <div class="carrusel">
        <div class="title_container">
             <h2>Casas de Renta que Enamoran</h2>
        </div>
        <div class="houses" #carrusel>
            <div class="house" *ngFor="let house of visibleHouses">
                <app-ofert-card
                [father]="father"
                [img]="house.img"
                [name]="house.name"
                [price]="house.pricePerNight"
                [city]="house.city"
                [stars]="house.stars"
                ></app-ofert-card>
            </div>
        </div>
        <div class="button_container">
            <button (click)="moverCarrusel(-1)">Anterior</button>
            <button (click)="moverCarrusel(1)">Siguiente</button>
        </div>
    </div>


  