
.title_container
{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.carrusel
{
    width: 100%;
    height: auto;
    overflow: hidden;
    width: 100%;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  .houses
   {
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: transform 0.5s ease;
    width: 80%;
  }
  
  .house
   {
    flex: 0 0 33.33%;
    width: 80%;
  }
  
  button {
    /* position: absolute; */
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  
  button:nth-child(1) {
    left: 0;
  }
  
  button:nth-child(2) {
    right: 0;
  }
  
  @font-face {
    font-family: 'Montserrat-Light';
    src: url('/fonts/Montserrat/Montserrat-Light.ttf');
  }
  h2
  {
    font-family: 'Montserrat-Light';
    color: gray;
  }
  .buton_container
  {
    display: flex;
    flex-direction: row;
  }