
    <div class="carrusel">
        <div class="title_container">
            <h2>Carros de Ensueño</h2>
        </div>
        <div class="cars" #carrusel>  
            <div class="car" *ngFor="let car of visiblesCar">
                <app-ofert-card
                [father]="father"
                [img]="car.img"
                [name]="car.type"
                [price]="car.pricePerDay"
                [stars]="car.stars"
                ></app-ofert-card>
            </div>
        </div>
        <div class="buton_container">
            <button (click)="moverCarrusel(-1)">
            <img src="/assets/icons/circle-arrow-left.svg" alt="left">
        </button>
            <button (click)="moverCarrusel(1)">
                <img src="/assets/icons/circle-arrow-right.svg" alt="right">
            </button>
        </div>  
    </div>


  