
    <div class="carrusel">
        <div class="title_container">
             <h2>Los Hoteles Favoritos</h2>
        </div>
        <div class="hoteles" #carrusel>
            <div class="hotel" *ngFor="let hotel of VisiblesHotels">
                <app-ofert-card
                [father]="father"
                [img]="hotel.img"
                [name]="hotel.name"
                [price]="hotel.pricePerNight"
                [city]="hotel.city"
                [stars]="hotel.stars"
                ></app-ofert-card>
            </div>
        </div>
        <div class="buton_container">
            <button (click)="moverCarrusel(-1)">
            <img src="/assets/icons/circle-arrow-left.svg" alt="left">
        </button>
            <button (click)="moverCarrusel(1)">
                <img src="/assets/icons/circle-arrow-right.svg" alt="right">
            </button>
        </div>
    </div>


  