<div class="card_container">
    <div class="img_container">
        <img class="img_card" [src]="img" alt="ofert image">
    </div>
    <div class="namePrice_container">
        <h3>{{ name }} </h3>
        <div class="price_container">
            <h4>${{ price }} CUP</h4>
            @if (father === 'car') 
            {
                <h5>POR DÍA</h5>
            }
            @else{
                <h5>POR NOCHE</h5>
            } 
        </div>
    </div>
    <hr/>
    <div class="cityStars_container">
        <div class="city_container">
            @defer  (when father !== 'car') 
        {
            <img class="star_img" src="assets/icons/map-pin.svg" alt="">
            <h6>{{ city }}</h6>
        }
        </div>
        <div class="star_container">
            

            <ng-container *ngFor="let i of generateRange(stars)">
               <img class="star_img" src="assets/icons/star.svg" alt="">
            </ng-container>
        </div>
    </div>
</div>