/* *{
    border: 1px solid red; 
    }  */

.container
{
    position: relative;

    display: flex; /* Añade display:flex para habilitar las propiedades flex */
    /* background-color: rgb(69, 72, 75); */
    height: auto;
    flex-direction: column; 
    flex-wrap: nowrap;
    justify-content: center;
}

.section_backg_plain
{
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 50%;
    margin: 0;
}

.section_backg_plain img
{
    max-width: 100%;
    height: auto;
}
/* ---------------------------------------------------------------------- */
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('D:/!!!!!!!!----TRABAJOS PROGRAMANDO/Guajiritos/Guajiritos/guajiritos/src/assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

.h2_sect1
{
    position: absolute; /* Establece el h1 como posición absoluta */
    top: 10%; /* Posiciona el h1 en la mitad superior del contenedor */
    left: 86%; /* Posiciona el h1 en el centro del contenedor */
    transform: translate(-50%, -50%); /* Centra el h1 exactamente sobre la imagen */
    z-index: 1; /* Asegura que el h1 esté por encima de las imágenes */
    color: white;
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 27px;
    width: 210px;

    display: flex;
    flex-direction: row-reverse;
}

/* ---------------------------------------------------------------------- */
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('D:/!!!!!!!!----TRABAJOS PROGRAMANDO/Guajiritos/Guajiritos/guajiritos/src/assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

.h1_sect1
{
    position: absolute; /* Establece el h1 como posición absoluta */
    top: 12%; /* Posiciona el h1 en la mitad superior del contenedor */
    left: 61%; /* Posiciona el h1 en el centro del contenedor */
    transform: translate(-50%, -50%); /* Centra el h1 exactamente sobre la imagen */
    z-index: 1; /* Asegura que el h1 esté por encima de las imágenes */
    color: white;
    font-family: 'Montserrat-Bold';
    font-size: 67px;
    width: 600px;
    height: auto;

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    /* align-items: flex-start;
    align-content: flex-start; */
  }
  /* ---------------------------------------------------------------------- */
  .logo {
    width: 90px; /* Ajusta el ancho de la imagen del logo a 100 píxeles, puedes cambiar este valor según tus necesidades */
    height: 7%; /* Mantiene la proporción de aspecto de la imagen */
    position: absolute; /* Establece el h1 como posición absoluta */
    top: 5%; /* Posiciona el h1 en la mitad superior del contenedor */
    left: 42%; /* Posiciona el h1 en el centro del contenedor */
    transform: translate(-50%, -50%); /* Centra el h1 exactamente sobre la imagen */
    z-index: 1; /* Asegura que el h1 esté por encima de las imágenes */
  }

  .Rect2501
  {
    position: absolute; /* Establece el h1 como posición absoluta */
    top: 25%; /* Posiciona el h1 en la mitad superior del contenedor */
    left: 112%; /* Posiciona el h1 en el centro del contenedor */
    transform: translate(-50%, -50%); /* Centra el h1 exactamente sobre la imagen */
    z-index: 1; /* Asegura que el h1 esté por encima de las imágenes */
    width: 178px;
    height: 174px;
  }

  .Rect2502
  {
    position: absolute; /* Establece el h1 como posición absoluta */
    top: 64%; /* Posiciona el h1 en la mitad superior del contenedor */
    left: 130%; /* Posiciona el h1 en el centro del contenedor */
    transform: translate(-50%, -50%); /* Centra el h1 exactamente sobre la imagen */
    z-index: 1; /* Asegura que el h1 esté por encima de las imágenes */
    width:  440px;
    /* height: 645px; */
  }

  /* /////////////////////////////////////////////////////////// */
  .section_buttons {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 40%;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
    background: turquoise;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
    background: yellow;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
    background: #e91e63;
  }
  
  /* .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background:  green;
  } */
  
  .example-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 120px;
    background: blue;
  }

  .example-button-container button {
    border-radius: 50%; /* Hace que los botones sean redondeados */
    width: 56px; /* Ajusta el ancho de los botones según tus necesidades */
    height: 56px; /* Ajusta la altura de los botones según tus necesidades */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px; /* Añade un margen entre los botones */
}

  /* Primary color- #e91e63
Primary text- #000000 
Secondary text- #757575 - GREY 600
Divider color- #BDBDBD - GREY 400 */

/* //////////////////////  section 2   ///////// */
.sect
{
    /* border: 1px solid blue; */
    /* background: #e91e63; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* align-content: center; */

    width: 100%;
    height: 800px;
    /* position: relative;  */
    /* z-index: 2; */
}

/* .content-container
{
    border: blue 1px solid;
    background: yellowgreen;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */

.h1_sect
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 975px;
    color: black;
    top: 57%; /* Posiciona el h1 en la mitad superior del contenedor */
    left: 50%; /* Posiciona el h1 en el centro del contenedor */
    font-size: 36px;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('D:/!!!!!!!!----TRABAJOS PROGRAMANDO/Guajiritos/Guajiritos/guajiritos/src/assets/fonts/Montserrat/Montserrat-Light.ttf');
}
.h2_sect
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 975px;
    color: black;
    top: 55%; /* Posiciona el h1 en la mitad superior del contenedor */
    left: 50%; /* Posiciona el h1 en el centro del contenedor */
    font-family: 'Montserrat-Light';
    font-size: 20px;
}


.container_sect
{
    /* background: violet; */
    position: relative;
    width: 1080px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

}

.div_img
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    /* border: #321ee9 1px solid; */
}

#img_lugares
{
    width: 245px;
    height: 180px;
    /* border: 10px solid; */
}

#img_hotel
{
    width: 550px;
    height: 390px; 
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('D:/!!!!!!!!----TRABAJOS PROGRAMANDO/Guajiritos/Guajiritos/guajiritos/src/assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

#p_vuelos
{
    position: absolute;
    top:31% ;
    left: 0%;
    color: white;
    font-family: 'Montserrat-Bold';
    font-size: 30px;
}

#p_casas
{
    position: absolute;
    top:85% ;
    left: 0%;
    color: white;
    font-family: 'Montserrat-Bold';
    font-size: 30px;
}

#p_hoteles
{
    position: absolute;
    top:55% ;
    left: 24%;
    color: white;
    font-family: 'Montserrat-Bold';
    font-size: 90px;
}

#p_experiencias
{
    position: absolute;
    top:31% ;
    left: 77%;
    color: white;
    font-family: 'Montserrat-Bold';
    font-size: 30px;
}

#p_autos
{
    position: absolute;
    top:85% ;
    left: 77%;
    color: white;
    font-family: 'Montserrat-Bold';
    font-size: 30px;
}
 /* Color negro con opacidad del 50% */
/* .container_sect2::before 
{
    content: "";
    position: absolute;
    top: 31;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); 
  } */
  /* ////////////////////////  section 3 ////////////////////////////// */
.div_text
{
    background: #e91e63;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}  

#id_h1_sect3
{
    display: flex;
    flex-direction: row-reverse;
}

#id_h2_sect3
{
    display: flex;
    flex-direction: row-reverse;
}

