<div class="container">
  <section class="section_backg_plain">
    <img src="assets\img\Logo en blanco@300x.png" alt="" class="logo">
    <img src="assets\img\Enmascarar grupo 12.jpg" alt="">
    <h2 class="h2_sect1">RESERVA EL </h2>
    <h1 class="h1_sect1">Mejor Vuelo</h1>
    <img src="assets\img\Enmascarar grupo 14.jpg" alt="">
    <img src="assets\img\Rectángulo 2501.png" alt="" class="Rect2501">
    <img src="assets\img\Rectángulo 2502.png" alt="" class="Rect2502">

    <!-- <mat-divider></mat-divider>
    <section class="section_buttons">
      <div class="example-label">FAB</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
              <mat-icon>bookmark</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-fab color="warn" aria-label="Example icon button with a home icon">
              <mat-icon>home</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-fab disabled aria-label="Example icon button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>     -->

  </section>
  <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
  <section class="sect">
    <!-- <div class="content-container"> -->
      <h2 class="h2_sect" id="id_h2_sect2">¿QUÉ ESPERAS PARA IRTE DE VIAJE?</h2>
      <h1 class="h1_sect" id="id_h1_sect2">Podemos llevarte a cualquier parte</h1>
    <!-- </div> -->

    <div class="container_sect">
      <div class="div_img">
        <img src="assets\img\vuelos.png" alt="" id="img_lugares" class="imagen_oscura">
        <p id="p_vuelos">VUELOS</p>
        <img src="assets\img\casa de renta.png" alt="" id="img_lugares">
        <p id="p_casas">CASAS</p>
      </div>
      <div class="div_img">
        <img src="assets\img\Hoteles.png" alt="" id="img_hotel">
        <p id="p_hoteles">HOTELES</p>
      </div>
      <div class="div_img">
        <img src="assets\img\Experiencias.png" alt="" id="img_lugares">
        <p id="p_experiencias">EXPERIENCIAS</p>
        <img src="assets\img\autos de renta.png" alt="" id="img_lugares">
        <p id="p_autos">AUTOS</p>
      </div>
    </div>
  </section>
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<section class="sect">
  <div class="div_text">
    <h2 class="h2_sect" id="id_h1_sect3">¿POR QUÉ VIAJAR CON BAMINGO?</h2>
    <h1 class="h1_sect" id="id_h2_sect3">Conoce lo que opinan nuestros clientes</h1>
  </div>"

  <div class="container_sect" id="id_sect3">
    <div class="div_img" id="id_div_img_sect3">
      <img src="assets\img\bahamas_115721822_1222671071439699_3128690485932228890_n.png" alt="">
      <img src="assets\img\bahamas_116712392_342358696799045_4457147237636759924_n" alt="">
    </div>
    <article>
      <h2>15 Días en Royalton Hicacos</h2>
      <div class="div_icon">

      </div>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quaerat repellendus quisquam, harum ex reiciendis ipsam 
        voluptatum placeat, eos incidunt, nam cum veniam consequuntur 
        molestias doloribus? Possimus blanditiis maxime tempora 
        perspiciatis.
      </p>
    </article>
  </div>
</section>
</div>
