<div class="container">
  
  <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->
<app-header-component></app-header-component>
<app-section1></app-section1>
<app-section2></app-section2>
<app-section3></app-section3>
<div class="recomendatin_container">
  <div class="text_container">
    <h3>¿NO SABES QUÉ ESCOGER?</h3>
    <h1>Productos Recomendados</h1>
  </div>
  <app-recomendation></app-recomendation>
  <app-recommended-rental-house></app-recommended-rental-house>
  <app-recommended-car></app-recommended-car>
</div>
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ -->

</div>

