/* *{
    border: 1px solid red; 
    }  */

.container
{
    position: relative;

    display: flex; /* Añade display:flex para habilitar las propiedades flex */
    background-color: rgb(69, 72, 75);
    height: 100%;
    flex-direction: column; 
}

.section_backg_plain
{
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 50%;
    margin: 0;
}

.section_backg_plain img
{
    max-width: 100%;
    height: auto;
}
/* ---------------------------------------------------------------------- */
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('D:/!!!!!!!!----TRABAJOS PROGRAMANDO/Guajiritos/Guajiritos/guajiritos/src/assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

h2
{
    position: absolute; /* Establece el h1 como posición absoluta */
    top: 10%; /* Posiciona el h1 en la mitad superior del contenedor */
    left: 86%; /* Posiciona el h1 en el centro del contenedor */
    transform: translate(-50%, -50%); /* Centra el h1 exactamente sobre la imagen */
    z-index: 1; /* Asegura que el h1 esté por encima de las imágenes */
    color: white;
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 27px;
    width: 210px;

    display: flex;
    flex-direction: row-reverse;
}

/* ---------------------------------------------------------------------- */
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('D:/!!!!!!!!----TRABAJOS PROGRAMANDO/Guajiritos/Guajiritos/guajiritos/src/assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

h1 
{
    position: absolute; /* Establece el h1 como posición absoluta */
    top: 12%; /* Posiciona el h1 en la mitad superior del contenedor */
    left: 61%; /* Posiciona el h1 en el centro del contenedor */
    transform: translate(-50%, -50%); /* Centra el h1 exactamente sobre la imagen */
    z-index: 1; /* Asegura que el h1 esté por encima de las imágenes */
    color: white;
    font-family: 'Montserrat-Bold';
    font-size: 67px;
    width: 600px;
    height: auto;

    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    /* align-items: flex-start;
    align-content: flex-start; */
  }
  /* ---------------------------------------------------------------------- */
  .logo {
    width: 90px; /* Ajusta el ancho de la imagen del logo a 100 píxeles, puedes cambiar este valor según tus necesidades */
    height: 7%; /* Mantiene la proporción de aspecto de la imagen */
    position: absolute; /* Establece el h1 como posición absoluta */
    top: 5%; /* Posiciona el h1 en la mitad superior del contenedor */
    left: 42%; /* Posiciona el h1 en el centro del contenedor */
    transform: translate(-50%, -50%); /* Centra el h1 exactamente sobre la imagen */
    z-index: 1; /* Asegura que el h1 esté por encima de las imágenes */
  }

  .Rect2501
  {
    position: absolute; /* Establece el h1 como posición absoluta */
    top: 25%; /* Posiciona el h1 en la mitad superior del contenedor */
    left: 112%; /* Posiciona el h1 en el centro del contenedor */
    transform: translate(-50%, -50%); /* Centra el h1 exactamente sobre la imagen */
    z-index: 1; /* Asegura que el h1 esté por encima de las imágenes */
    width: 178px;
    height: 174px;
  }

  .Rect2502
  {
    position: absolute; /* Establece el h1 como posición absoluta */
    top: 64%; /* Posiciona el h1 en la mitad superior del contenedor */
    left: 130%; /* Posiciona el h1 en el centro del contenedor */
    transform: translate(-50%, -50%); /* Centra el h1 exactamente sobre la imagen */
    z-index: 1; /* Asegura que el h1 esté por encima de las imágenes */
    width:  440px;
    /* height: 645px; */
  }