/* sectio3 */

/* *{
    border: 1px solid red; 
    }  */

.sect3
{
    position: relative;
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#background
{
    width: 100%;
}

.div_text
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: center; 
    width: 1041px;
    height: 100px;
    margin: 0 auto;
    top: 10%;
    left: 17%;
}  

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('D:/!!!!!!!!----TRABAJOS PROGRAMANDO/Guajiritos/Guajiritos/guajiritos/src/assets/fonts/Montserrat/Montserrat-ExtraBold.ttf');
}

h1
{
    font-family: 'Montserrat-ExtraBold';
    font-size: 42px;
    margin: 0;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('D:/!!!!!!!!----TRABAJOS PROGRAMANDO/Guajiritos/Guajiritos/guajiritos/src/assets/fonts/Montserrat/Montserrat-Light.ttf');
}

h3
{
    font-family: 'Montserrat-Light';
    font-size: 20px;
    margin: 0;
}

.container
{
    position: absolute;
    /* width: 900px; */
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 23%;
    left: 17%;
}

.div_img
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 500px;
    /* background: yellowgreen; */
}

#img_peces
{
        width: 175px;
        height: 173px;
        display: flex;
        flex-direction: row-reverse;
}

#img_estatua
{
    width: 340px;
    height: 315px;
}

article
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 500px;
    margin: 0;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('D:/!!!!!!!!----TRABAJOS PROGRAMANDO/Guajiritos/Guajiritos/guajiritos/src/assets/fonts/Montserrat/Montserrat-Light.ttf');
}

h2
{
    font-family: 'Montserrat-Light';
    font-size: 40px;
    margin: 0;
}

.div_icon
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    margin-top: 14px;
    margin-bottom: 13px;
}

h4
{
    font-family: 'Montserrat-Light';
    font-size: 20px;
}

#star
{
    margin: 0;
    color: rgb(233, 30, 99);
}

#img_erika
{
    width: 100px;
    height: 105px;
    margin: 0;
}

.div_name
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 0;
    height: 100%;
}

p
{
    width: 700px;
    height: 250px;
    margin: 0;
    padding-top: 5px;
}