<!-- section3 -->
<section class="sect3">
  <img id="background" src="assets\img\happy-young-woman-jumping-on-yellow-wall-dressed-in-swimwear-holding-flamingo-rubber-ring-beach.png" alt="">
    <div class="div_text">
      <h3>¿POR QUÉ VIAJAR CON BAMINGO?</h3>
      <h1>Conoce lo que opinan nuestros clientes</h1>
    </div>"
  
    <div class="container">
      <div class="div_img" id="id_div_img_sect3">
        <img id="img_peces" src="assets\img\bahamas_115721822_1222671071439699_3128690485932228890_n.png" alt="">
        <img id="img_estatua" src="assets\img\bahamas_116712392_342358696799045_4457147237636759924_n.png" alt="">
      </div>
      <article>
        <h2>15 Días en Royalton Hicacos</h2>
        <div class="div_icon">
            <img id="img_erika" src="assets\img\bahamas_117695455_592785381414486_8432182349905995740_n.png" alt="">
            <div class="div_name">
                <h4>Erika Scarlet Clark</h4>
                <div id="star">⭐⭐⭐⭐⭐</div>
            </div>
        </div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Quaerat repellendus quisquam, harum ex reiciendis ipsam 
          voluptatum placeat, eos incidunt, nam cum veniam consequuntur 
          molestias doloribus? Possimus blanditiis maxime tempora 
          perspiciatis. Lorem ipsum dolor sit, amet consectetur 
          adipisicing elit. Illum, distinctio porro consequatur 
          expedita voluptatum minima aspernatur quia odio dolores 
          praesentium dicta adipisci molestias fugiat quaerat 
          harum beatae perferendis maiores optio.
          <br/>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
          Natus animi libero laboriosam impedit consequatur nobis. 
          Explicabo consectetur autem, dolores unde error similique 
          doloremque voluptatum aspernatur beatae voluptate aliquam 
          enim dignissimos.
        </p>
      </article>
    </div>
  </section>
