/* section 1 */
/* *{
    border: 1px solid red; 
    }  */

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('D:/!!!!!!!!----TRABAJOS PROGRAMANDO/Guajiritos/Guajiritos/guajiritos/src/assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

.main_container
{
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0;
}

div
{
  position: relative;
  width: 50%;
  height: 100%;
}

.background
{
    max-width: 100%;
    height: 100%;
}

/* ---------------------------------------------------------------------- */
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('D:/!!!!!!!!----TRABAJOS PROGRAMANDO/Guajiritos/Guajiritos/guajiritos/src/assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}

.h2_sect1
{
    position: absolute; 
    color: white;
    font-family: 'Montserrat-SemiBold', sans-serif;
    font-size: 27px;
    width: auto;
    bottom: 80%; 
    left: 77%;
}

/* ---------------------------------------------------------------------- */
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('D:/!!!!!!!!----TRABAJOS PROGRAMANDO/Guajiritos/Guajiritos/guajiritos/src/assets/fonts/Montserrat/Montserrat-Bold.ttf');
}

.h1_sect1
{
    position: absolute; 
    color: white;
    font-family: 'Montserrat-Bold';
    font-size: 67px;
    width: auto;
    height: auto;
    bottom: 65%;
    left: 45%;
  }
  /* ---------------------------------------------------------------------- */
  .Rect2501
  {
    position: absolute; 
    bottom: 63%; 
    left: 1%;
    width: 160px;
    height: 156px;
  }

  .Rect2502
  {
    position: absolute; 
    bottom: 12%; 
    left: 1%; 
    width:  400px;
    height: 400px;
  }

  */
  .section_buttons {
      display: flex;
      flex-direction: column;
      width: 30%;
      height: 40%;
    }
    
    .example-label {
      display: table-cell;
      font-size: 14px;
      margin-left: 8px;
      min-width: 120px;
      background: turquoise;
    }
    
    .example-button-row {
      display: table-cell;
      max-width: 600px;
      background: yellow;
    }
    
    .example-button-row .mat-mdc-button-base {
      margin: 8px 8px 8px 0;
      background: #e91e63;
    }
    
    /* .example-flex-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      background:  green;
    } */
    
    .example-button-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 120px;
      background: blue;
    }
  
    .example-button-container button {
      border-radius: 50%; /* Hace que los botones sean redondeados */
      width: 56px; /* Ajusta el ancho de los botones según tus necesidades */
      height: 56px; /* Ajusta la altura de los botones según tus necesidades */
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 8px; /* Añade un margen entre los botones */
  }