<section class="section_backg_plain">
  <header class="section_title">
    <img src="assets\img\Logo en blanco@300x.png" alt="" class="logo">
    <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Crear cuenta</a>
  </header>
    
    <img src="assets\img\Enmascarar grupo 12.jpg" alt="">
    <h2 class="h2_sect1">RESERVA EL </h2>
    <h1 class="h1_sect1">Mejor Vuelo</h1>
    <img src="assets\img\Enmascarar grupo 14.jpg" alt="">
    <img src="assets\img\Rectángulo 2501.png" alt="" class="Rect2501">
    <img src="assets\img\Rectángulo 2502.png" alt="" class="Rect2502">

    <!-- <mat-divider></mat-divider>
    <section class="section_buttons">
      <div class="example-label">FAB</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
              <mat-icon>bookmark</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-fab color="warn" aria-label="Example icon button with a home icon">
              <mat-icon>home</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-fab disabled aria-label="Example icon button with a heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>     -->

  </section>
